.border-normal{
    border: 1px solid #000;
}
.border-none{
    border: none;
}
.border-circle{
    border-radius: 50%;
}
.border-round{
    border-radius: 30px;
}
.border-round-second{
    border-radius: 20px;
}